body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #000000, #1b183a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }




  .LoginField {
    margin-bottom: 1rem;
  }

  .LoginLabel {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-weight: 500;
  }

.LoginInput {
    width: 90%;
    padding: 10px;
    background: #32323240;
    border: 1px solid #ffffff14;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    transition: border-color 0.3s;
    color: white;
    cursor: pointer;
}

  .LoginInput:focus {
    border-color: #005ce6;
    outline: none;
  }

  .LoginButton {
    width: 60%;
    font-weight: 500;
    padding: 0.75rem;
    background-color: #315592;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .LoginButton:hover {
    background-color: #005ce6;
  }
@media(min-width: 450px) {
  .LoginContainer {
   padding: 2rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.15) 100%);
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
    position: relative;
    top: -10%;
  }
  
  .LoginTitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
}
@media (max-width: 450px) {
  .LoginContainer {
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
    position: relative;
    top: -10%;
}
.LoginTitle {
    text-align: center;
    position: relative;
    font-size: 30px;
    color: #ffffff;
    font-weight: 300;
    display: flex;
    margin-bottom: 50px;
}
}

